.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
h1,h2,h3,h4,h5{
  color:#0d6efd;
}
.img{
  height: 30vh;
}
.img-main{
  height: 40vh;
}
.box{
  align-items: center;
  justify-content: center;
  
}
.body{
  display: flex;
  flex-direction: column;
  background-color:#70c3fa;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgb(133, 163, 245);
}

.App-link {
  color: #61dafb;
}
